<div class="btn-container">
  <button (click)="filterBy('color')" class="btn btn-primary">Life Colour</button>
  <button (click)="filterBy('good')" class="btn btn-success">Good Deed Outcomes</button>
  <button (click)="filterBy('bad')" class="btn btn-danger">Bad Deed Outcomes</button>
</div>

<div class="output">
  <span *ngIf="selectedItem">Selected item is {{ selectedItem?.name }}</span>
</div>
<hr />

<!-- <h1>Parent Component</h1>
<input type="text" [(ngModel)]="channelParent" > -->


 <!-- bind the  var value of child component to parent component -->
<app-child
   
  [items]="filteredItems"
  (selectedItemEmitter)="selectItem($event)"

></app-child>

<!-- <app-child [channelName] = "channelParent"></app-child> -->